<h1>Questions</h1>

<% @questions.each do |question| %>
  <h2><%= question.title %></h2>

  <time datetime="<%= question.formatted_created_at %>">
    <%= question.formatted_created_at %>
  </time>

  <p>
    <%= question.body %>
    <br>
    <%= link_to "Edit", edit_question_path(question) %> |
    <%= link_to "Destroy", question_path(question), 
                method: :delete, 
                data: { confirm: "Are you sure you want to delete this question?" } %>
  </p>
<% end %>
